azure-deploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflow_name": {
            "defaultValue": "ans-zombie-snapshot-management-automation-la",
            "type": "String"
        },
        "workflow_location": {
            "defaultValue": "uksouth",
            "type": "String"
        },
        "workflow_tags": {
            "defaultValue": {
                "Application": "Zombie Snapshot Management Automation",
                "Criticality": "Tier 1",
                "Owner": "Your Team",
                "deployedBy": "ARM"
            },
            "type": "Object"
        }
    },
    "outputs": {},
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflow_name')]",
            "location": "[parameters('workflow_location')]",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Month",
                                "interval": 1,
                                "startTime": "2099-12-01T00:00:00Z",
                                "timeZone": "UTC"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Expiry_Date_Frame": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Expiry Time Frame - Months",
                                        "type": "integer",
                                        "value": 18
                                    }
                                ]
                            },
                            "runAfter": {},
                            "type": "InitializeVariable"
                        },
                        "For_each_subscription": {
                            "actions": {
                                "For_each_Old_Snapshot": {
                                    "actions": {
                                        "Condition": {
                                            "actions": {
                                                "Delete_Old_Snapshot": {
                                                    "inputs": {
                                                        "authentication": {
                                                            "audience": "https://management.azure.com",
                                                            "type": "ManagedServiceIdentity"
                                                        },
                                                        "method": "DELETE",
                                                        "queries": {
                                                            "api-version": "2020-06-30"
                                                        },
                                                        "uri": "https://management.azure.com@{items('For_each_Old_Snapshot')?['id']}"
                                                    },
                                                    "runAfter": {},
                                                    "type": "Http"
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "less": [
                                                            "@ticks(items('For_each_Old_Snapshot')?['properties']?['timeCreated'])",
                                                            "@ticks(subtractFromTime(utcNow(), variables('Expiry Time Frame - Months'), 'Month'))"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "runAfter": {},
                                            "type": "If"
                                        }
                                    },
                                    "foreach": "@body('Get_Old_Snapshot')?['value']",
                                    "runAfter": {
                                        "Get_Old_Snapshot": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Get_Old_Snapshot": {
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://management.azure.com",
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "method": "GET",
                                        "queries": {
                                            "api-version": "2020-06-30"
                                        },
                                        "uri": "https://management.azure.com/subscriptions/@{items('For_each_subscription')['subscriptionId']}/providers/Microsoft.Compute/snapshots"
                                    },
                                    "runAfter": {},
                                    "type": "Http"
                                }
                            },
                            "foreach": "@body('Get_Subscriptions')?['value']",
                            "runAfter": {
                                "Get_Subscriptions": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get_Subscriptions": {
                            "inputs": {
                                "authentication": {
                                    "audience": "https://management.azure.com",
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "queries": {
                                    "api-version": "2020-01-01"
                                },
                                "uri": "https://management.azure.com/subscriptions"
                            },
                            "runAfter": {
                                "Expiry_Date_Frame": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        }
                    }, 
                    "outputs": {}
                },
                "parameters": {}
            },
            "tags": "[parameters('workflow_tags')]"
        }
    ]
}
